<!DOCTYPE configuration>

<configuration>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
    <springProfile name="dev,staging">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>common</pattern>
        </encoder>
    </appender>
        <appender-ref ref="CONSOLE" />
    </springProfile>
    <!-- Simple file appender without log rotation-->
    <!--<appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>log/access.log</file>
        <encoder>
            <pattern>"%h %l %u %t %I "%r" %s %b %D ms"</pattern>
        </encoder>
    </appender>
    <appender-ref ref="FILE" />-->
    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>log/access_log-%d{yyyy-MM-dd}.%i.txt</fileNamePattern>
            <!-- each file should be at most 100MB, keep 60 days worth of history, but at most 20GB -->
            <maxFileSize>20KB</maxFileSize>
            <maxHistory>5</maxHistory>
            <totalSizeCap>100KB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>"%h %l %u %t %I "%r" %s %b %D ms"</pattern>
        </encoder>
    </appender>

    <appender-ref ref="ROLLING" />



</configuration>